{% extends "../base.html" %}

{% block content%}
<main class="container">
    <h1>Index</h1>
    <div class="row">
        {% for collector in object_list %}
        
            <div class="card col s12">
                <a href="{% url 'collector-detail' collector.id %}"></a>
                <div class="card-title">
                    {{collector.name}}
                </div>
                <div class="card-content">
                    <strong>Category: </strong>
                    <blockquote>
                        {{collector.category}}
                    </blockquote>
                    <strong>Description: </strong>
                    <blockquote>
                        {{collector.description}}
                    </blockquote>
                    <strong>Capacity: </strong>
                    <blockquote>
                        {{collector.capacity}}
                    </blockquote>
                </div>
                </a>
                <div class="card-action">
                    <a href="{% url 'collector-update' collector.id %}" class="btn">Update</a>
                    <a href="{% url 'collector-delete' collector.id %}" class="btn red">Delete</a>
                </div>
            </div>
            
        {% empty %}
        <div class="card col s12">
            <div class="card-title">
                Collection of Collectors Lacks Content
            </div>
            <div class="card-content">
                Create collections of collectors to continue
            </div>
        </div>
        {% endfor %}
    </div>
</main>

{% endblock %}