{% extends "base.html" %}

{% block content%}
<main class="container">
    <h1>Index</h1>
    <div class="row">
        <div class="card col s6">
            <div class="card-title">
                {{object.name}}
            </div>
            <div class="card-content">
                <strong>Category: </strong>
                <p>
                    {{object.category}}
                </p>
                <strong>Description: </strong>
                <p>
                    {{object.description}}
                </p>
                <strong>Capacity: </strong>
                <p>
                    {{object.capacity}}
                </p>
            </div>
            </a>
            <div class="card-action">
                <a href="{% url 'collector-update' object.id %}" class="btn">Update</a>
                <a href="{% url 'collector-delete' object.id %}" class="btn red">Delete</a>
            </div>
        </div>
        <div class='card col s6'>
            <form method="post" action="{% url 'add_whatgoesin' object.id %}">
                {% csrf_token %}
                {{ whatgoesin_form.as_p }}
                <input type="submit" class="btn" value="Add A Thing That Goes In NOW!">
              </form>
            <table class="striped">
                <thead>
                  <tr><th>Name</th><th>Colour</th></tr>
                </thead>
                <tbody>
                  {% for each in object.whatgoesin_set.all %}
                    <tr>
                      <td>{{each.name}}</td>
                      <td>{{each.get_colour_display}}</td>
                      <td style="background-color: {{each.get_colour_display}};"></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</main>
{% endblock %}