{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Collector Collector - The Ultimate Tool for Collecting Various Means of Collection into one Collection</title>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="{% url 'collector-home' %}" class="brand-logo center"><i class="material-icons large" >dashboard</i>Collector Collector</a>
            <ul class="right hide-on-small-and-down">
              {%if user.is_authenticated %}
              <li class="{% if active ==  'about' %}active{%endif%}"><a href="{% url 'collector-about' %}">About</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
              <li class="{% if active ==  'add-feature' %}active{%endif%}"><a href="{% url 'common-feature-create' %}">Add Common Feature</a></li>
              <li class="{% if active ==  'list-feature' %}active{%endif%}"><a href="{% url 'common-feature-list' %}">View All Common Features</a></li>
              <li class="{% if active ==  'index' %}active{%endif%}"><a href="{% url 'collector-list' %}">Index</a></li>
              <li class="{% if active ==  'create' %}active{%endif%}"><a href="{% url 'collector-create' %}">Create</a></li>
              {%else%}
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'signup' %}">Sign Up</a></li>
              
              {%endif%}
            </ul>
          </div>
        </nav>
    </div>
    {% block content%}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      M.AutoInit()
    </script>
</body>
</html>